body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(55, 54, 54);
  color: #fff;
  height: 100px;
  width: 100%;
}

header a {
  color: #fff;
  text-decoration: none;
}

.nav-items ul {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  font-size: 22px;
  font-weight: 500;
  list-style: none;
  width: 100%;
  padding: 0;
}

a.hambuger {
  display: none;
}

.intro-area {
  display: flex;
  flex-direction: row-reverse;
  gap: 5%;
  height: 110vh;
  background-color: rgb(3, 3, 3);
  width: 100%;
}

.intro {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 6em;
  width: 100%;
}

.icons ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.topper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: orange;
}

.support-text {
  color: #fff;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  font-weight: 300;
  width: 100%;
}

.support-para {
  color: #fff;
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 35px;
  width: 80%;
}

.social-icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 42px;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
}

.social-icons li {
  list-style: none;
}

/* Media Queries */
@media screen and (max-width: 600px) {
  a.hambuger {
    display: flex;
    margin-top: 25px;
    font-size: 2em;
  }

  nav.nav-items {
    display: none;
  }

  .intro-area {
    display: flex;
    flex-direction: column;
    height: 110vh;
    background-color: rgb(3, 3, 3);
    width: 100%;
  }

  .intro {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 6em;
    width: 100%;
  }

  .icons ul {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  ul.social-icons {
    display: flex;
    justify-content: center;
    margin-left: 0;
    padding-left: 0;
  }

  .recent-w {
    text-align: center;
  }

  .hrline {
    width: 90%;
    text-align: center;
  }

  .multi-post {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .multImg {
    width: 90%;
    align-self: center;
  }

  .post-title {
    text-align: center;
  }

  .post-para {
    text-align: left;
    width: 90%;
    padding-left: 6%;
  }

  .post-lang {
    text-align: left;
  }

  .post-lang li {
    display: inline;
    border: 1px solid rgb(77, 74, 74);
    padding: 15px;
  }

  ul.post-lang {
    padding-left: 6%;
  }

  .post-btn {
    text-align: center;
    padding: 10px;
    background-color: #ff6b00;
    width: 90%;
    align-self: center;
    color: #fff;
    font-size: 1.2em;
    font-weight: 300;
    border-radius: 5px;
    transition: all 1s ease-in-out;
  }

  .post-btn:hover {
    background-color: #00ff3c;
    color: #fff;
  }

  .main-cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    width: 100%;
  }

  .cards {
    background-image: url(./images/grid-image1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 454px;
    padding-left: 5%;
  }

  .hdata {
    font-size: 20px;
    color: #fff;
    width: 70%;
    margin-top: 45%;
  }

  .paraInfo {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    width: 70%;
  }

  .proj-list li {
    display: inline;
    list-style: none;
    font-size: 1.2em;
    font-weight: 300;
    color: #fff;
    padding: 10px;
    border: 1px solid #fff;
  }

  .see {
    padding: 10px;
    background-color: #ff6b00;
    width: 100%;
    align-self: center;
    color: #fff;
    font-size: 1.2em;
    font-weight: 300;
    border-radius: 5px;
    transition: all 1s ease-in-out;
  }

  .see:hover {
    background-color: #00ff3c;
    color: #fff;
  }

  .myForm h3 {
    display: flex;
    flex-direction: column;
    gap: 5%;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
  }

  .thisForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
  }

  .name {
    border: none;
  }

  .email {
    border: none;
  }

  .btn {
    padding: 10px;
    background-color: #ff6b00;
    width: 35%;
    align-self: center;
    color: #fff;
    font-size: 1.2em;
    font-weight: 300;
    border-radius: 5px;
  }
}
